<div class="card">
  <div class="card-header">
    Boston, MA Weather <p class="time">as of 0:00 PM EST</p>
  </div>
  <div class="card-block">
    <div class="clr-row">
      <div class="clr-col-6">
        <h1>100ºF</h1>
        <p class="weather">Sunny</p>
      </div>
      <div class="clr-col-6">
        <ul class="list-unstyled" style="float: right;">
          <li><clr-icon shape="cloudy" size="100"></clr-icon></li>
          <li>50ºF/100ºF</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Today's Forcast
  </div>
  <div class="card-block">
    <div class="clr-row">
      <div class="clr-col-lg-3 clr-col-xs-12 forecast">
        <h1 class="fdesc">Morning</h1>
        <h3 class="fdesc">100ºF</h3>
        <clr-icon shape="cloudy" size="80"></clr-icon>
        <p class="fdesc">
          <clr-icon shape="rain" size="25"></clr-icon>
          50%
        </p>
      </div>
      <div class="clr-col-lg-3 clr-col-xs-12 forecast">
        <h1 class="fdesc">Afternoon</h1>
        <h3 class="fdesc">100ºF</h3>
        <clr-icon shape="cloudy" size="80"></clr-icon>
        <p class="fdesc">
          <clr-icon shape="rain" size="25"></clr-icon>
          50%
        </p>
      </div>
      <div class="clr-col-lg-3 clr-col-xs-12 forecast">
        <h1 class="fdesc">Evening</h1>
        <h3 class="fdesc">100ºF</h3>
        <clr-icon shape="cloudy" size="80"></clr-icon>
        <p class="fdesc">
          <clr-icon shape="rain" size="25"></clr-icon>
          50%
        </p>
      </div>
      <div class="clr-col-lg-3 clr-col-xs-12 forecast">
        <h1 class="fdesc">Overnight</h1>
        <h3 class="fdesc">100ºF</h3>
        <clr-icon shape="cloudy" size="80"></clr-icon>
        <p class="fdesc">
          <clr-icon shape="rain" size="25"></clr-icon>
          50%
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Details
  </div>
  <div class="card-block">
    <div class="clr-row">
      <div class="clr-col-6">
        <h1 style="margin: 0">100ºF</h1>
        Feels like
      </div>
      <div class="clr-col-6">
        <p style="text-align: right;">Sunrise: 00:00 am</p>
        <p style="text-align: right; margin: 0;">Sunset: 00:00 pm</p>
      </div>
    </div>
    <hr>
    <div class="clr-row">
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">High / Low</div>
          <div class="clr-col-6" style="text-align: right;">00ºF / 100ºF</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Wind</div>
          <div class="clr-col-6" style="text-align: right;">99 mph</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Humidity</div>
          <div class="clr-col-6" style="text-align: right;">100%</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Dew Point</div>
          <div class="clr-col-6" style="text-align: right;">50ºF</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Pressure</div>
          <div class="clr-col-6" style="text-align: right;">50.00 in</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">UV Index</div>
          <div class="clr-col-6" style="text-align: right;">0 of 10</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Visibility</div>
          <div class="clr-col-6" style="text-align: right;">10 miles</div>
        </div>
      </div>
      <div class="clr-col-xs-12 clr-col-sm-6">
        <div class="clr-row">
          <div class="clr-col-6">Moon Phase</div>
          <div class="clr-col-6" style="text-align: right;">Awoo</div>
        </div>
      </div>
    </div>
  </div>
</div>
