<div *ngIf="showLogin; else home">
  <app-login></app-login>
</div>
<ng-template #home>
  <clr-main-container>
    <clr-header class="header header-5 header-shadow">
      <div class="branding">
        <a class="nav-link" routerLink="/">
          <clr-icon class="title" shape="sun" style="width: 25px; height: 25px; margin-bottom: 2px"></clr-icon>
          <span class="title" style="font-size: 20px">Weatherman</span>
        </a>
      </div>

      <div class="header-actions">
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
            Location: Buffalo, NY
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem>Buffalo, NY</a>
            <a clrDropdownItem>Boston, MA</a>
            <a clrDropdownItem>Los Angeles, CA</a>
          </clr-dropdown-menu>
        </clr-dropdown>
        <a href="#" class="nav-link nav-text" style="font-size: 17px">
          User
        </a>
        <a href="#" class="nav-link nav-icon" aria-label="settings">
          <clr-icon shape="cog"></clr-icon>
        </a>
      </div>
    </clr-header>

    <div class="content-container">
      <clr-vertical-nav
        [clrVerticalNavCollapsible]="true"
        [clr-nav-level]="1"
        class="nav-trigger--bottom">
        <a clrVerticalNavLink routerLink="/today" routerLinkActive="active">Today</a>
        <a clrVerticalNavLink routerLink="/hourly" routerLinkActive="active">Hourly</a>
        <a clrVerticalNavLink routerLink="/ten-day" routerLinkActive="active">7 Day</a>
        <a clrVerticalNavLink>Past 5 Days</a>
      </clr-vertical-nav>
      <div class="content-area home">
        <router-outlet></router-outlet>
      </div>
    </div>
  </clr-main-container>
</ng-template>
