<div class="card">
  <div class="card-header">
    Welcome to Weatherman!
  </div>
  <div class="card-block">
    Search for your city or area to get the latest forecast
    <form class="clr-form">
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" name="search" class="clr-input clr-col-12"
                 placeholder="Enter your city or area"/>
          <clr-icon shape="search"></clr-icon>
        </div>
      </div>
    </form>
  </div>
</div>
